.container{
    background: linear-gradient(180deg, #517FF6, #253663);
    opacity: 100%;
    width : 1440;
    height: 1024;
}

.titre{
    color:#FFFFFF;
    font-weight: bold;
    opacity: 100%;
    text-align: center;
    font-family: Jost;
    line-height: Auto;
    letter-spacing: 0%;
}
