html{
    min-height: 100vh;
    background: linear-gradient(180deg, #517FF6, #253663);
}
body{
    padding: 0;
    margin: 0;
}

.container {
    width: 1197px;
    height: 932px;
}

.content{
    width: 1100px;
    min-height: 500px;
    background-color: #FFFFFF80;
    border-radius: 30px;
    margin: 100px 350.500px;
    padding: 50px;
}

.titre{
    color: #FFFFFF;
    text-align: center;
    font-weight: 700px;
    font-size: 40px;
    margin: 0 auto;
}

.control{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.taches{
    font-size: 24px;
    font-weight: 400px;
    height: 60px;
    width: 450px;
    border-radius: 20px;
    border: none;
    background-color: #FFFFFF;

}

.show{
    background-color: #517FF6;
    border-radius: 20px;
    width: 180px;
    height: 60px;
    font-size: 24px;
    margin-left: 20px;
    padding: 0;
    border: none;
}

.options{
    background-color: #FFFFFF;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    font-size: 24px;
    border: none;
    margin-left: 20px;
}

.table{
    background-color: #FFFFFF;
    width: 1100px;
    height: 460px;
    border-radius: 20px;
    border: none;
    font-size: 24px;
}

footer{
    font-size: 16px;
    text-align: center;
    font-weight: 400px;
    width: 275px;
    height: 23px;
    color: #FFFFFF;
    margin: 50px auto;
}

thead{
    text-align: center;
    
}
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Modal Content */
.modal-content {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}



.form h2 {
    font-size: 18px;
    color: #555555;
    margin-bottom: 20px;
    text-align: center;
}

/* Labels */
label {
    font-weight: 600;
    color: #555555;
    margin-bottom: 5px;
    display: block;
}

/* Input fields */
input[type="text"],
input[type="date"],
input[type="time"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 14px;
}


textarea {
    resize: vertical;
    min-height: 60px;
}


select {
    padding: 8px;
}


input[type="range"] {
    width: 100%;
    margin-top: 8px;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

#enregistrer {
    background-color: #357ae8;
    color: white;
    margin-right: 10px;
}

#supprimer {
    background-color: #e0e0e0;
    color: #333333;
}


#enregistrer:hover {
    background-color: #2859b5;
}

#supprimer:hover {
    background-color: #cccccc;
}