.container{
    background: linear-gradient(180deg, #517FF6, #253663);
    opacity: 100%;
    width : 1440px;
    height: 1024px;
}

.content{
    background-color:#FFFFFF;
    border-radius: 30px;
    opacity: 100%;
    fill: #FFFFFF;
    width: 1200px;
    height: 770px;
}

.titre{
    color:#FFFFFF;
    font-weight: bold;
    opacity: 100%;
    text-align: center;
    font-family: Jost;
    line-height: Auto;
    letter-spacing: 0%;
}
