.container {
    background: linear-gradient(180deg, #517FF6, #253663);
}

.content{
    width: 1100px;
    min-height: 500px;
    background-color: var(--white50);
    border-radius: 30px;
    margin: 100px auto;
    padding: 50px;
}