.container {
    background: linear-gradient(180deg, #517FF6, #253663);
    width : 1440px;
    height: 1024px;
}

.content {
    position: absolute;
    left: 117px;
    top: 137px;
    border-radius: 30px;
    opacity: 0.5;
    width: 1200px;
    height: 770px;
    background-color: var(--white50);
    margin: 100px auto;
    padding: 50px;
}

.titre {
    color: #000000;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family: Jost;
    opacity: 1;
    position: relative;
}

.taches {
    background-color: #FFFB;
    border-radius: 20px;
    width: 382px;
    height: 35px;
}