.container{
    background: linear-gradient(180deg, #517FF6, #253663);
    opacity: 100%;
    width : 1440px;
    height: 1024px;
}

.content{
    position: absolute;
    left: 117px;
    top: 137px;
    border-radius: 30px;
    opacity: 0.5;
    background-color: #FFFFFF;
    width: 1200px;
    height: 770px;
}

.titre{

    font-weight: bold;
    opacity: 100%;
    text-align: center;
    font-family: Jost;
    line-height: Auto;
    letter-spacing: 0%;
}
