html{
    min-height: 100vh;
    background: linear-gradient(180deg, #517FF6, #253663);
}

.container {
    width: 1197px;
    height: 932px;
}

.content{
    width: 1100px;
    min-height: 500px;
    background-color: #FFFFFF80;
    border-radius: 30px;
    margin: 100px auto;
    padding: 50px;
}

.titre{
    color: #FFFFFF;
    text-align: center;
    font-weight: 700px;
    font-size: 40px;
    margin: 0 auto;
}

.taches{
    font-size: 24px;
    font-weight: 400px;
    border-radius: 20px;
    background-color: #FFFFFF;

}